<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="css/boot.css">
  <title>Dashboard</title>
  <!-- <style>
      table-sm.table.table-bordered{
        border: 1px solid black;
        }
        table-sm.table.table-bordered > thead > tr > th{
          border: 1px solid black;
        }
    </style> -->
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="secondary-bg" id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 fs-4 font-weight-bold text-uppercase border-bottom"><i
          class="fas fa-user-secret mr-2"></i>File<span style="color: white;">Integrity</span></div>
      <div class="list-group list-group-flush my-3">
        <a href="/home" class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold"><i
            class="fas fa-home mr-2"></i>Home</a>
        <a href="/dashboard"
          class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold "><i
            class="fas fa-tachometer-alt mr-2"></i>Dashboard</a>
        <% if(!user.isDoctor){ %>
          <a href="/acceptreq"
            class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold active"><i
              class="fa fa-check mr-2"></i>Accept Request</a>
          <% } %>
            <% if(user.isDoctor){ %>
              <a href="/generatekey"
                class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold"><i
                  class="fa fa-key mr-2"></i>Generate Key</a>
              <% } %>
                <a href="/profile"
                  class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold"><i
                    class="fas fa-user mr-2"></i>Profile</a>
                <a href="/logout"
                  class="list-group-item list-group-item-action bg-transparent second-text font-weight-bold"><i
                    class="fas fa-power-off mr-2"></i>Logout</a>
      </div>
    </div>
    <!-- sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
          <% if(doctors.length>0){ %>
            <h2 class="m-0">Requests:</h2>
            <% }else{ %>
              <h2 class="m-0">No Request Found!</h2>
              <% } %>
        </div>
      </nav>
      <!-- <div class="px-4">
        <h5>Requests:</h5>
      </div> -->
      <% if(doctors.length>0){ %>
        <div class="table-responsive py-2 px-4">
          <!-- <table class="table table-bordered table-striped table-hover table-sm" > -->
          <table class="table-sm table table-bordered table-striped table-hover">
            <tbody class="table-dark ">
              <tr class="table-dark text-dark">
                <th class="">Name</th>
                <th class="">Email</th>
                <th class="">Address</th>
                <th class="">Action</th>
              </tr>
              <% doctors.forEach((row,index)=>{ %>
                <tr class='table-dark text-dark'>
                  <td>
                    <%= row.name %>
                  </td>
                  <td>
                    <%= row.email %>
                  </td>
                  <td>
                    <%= row.address.address1,row.address.city,row.address.state,row.address.country %>
                  </td>
                  <td>
                    <a class='btn btn-dark' href='/doctorprofile/<%= row._id %>'>Profile</a>
                    <!-- <a class='btn btn-secondary bg-dark' href='/request/<%= row._id %>'>Request</a> -->
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
        <% } %>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
      el.classList.toggle("toggled");
    };
  </script>

  <% if(locals.msg){ %>
    <script>
      alert("<%= msg %>");
      if (window.location.search.includes('msg=')) {
        const urlWithoutMsg = window.location.origin + window.location.pathname;
        history.replaceState({}, document.title, urlWithoutMsg);
      }
    </script>
    <% } %>
</body>

</html>